body{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas: 
    "nav"
    "filtro"
    "galeria"
    "footer"
    ;
    grid-template-rows: 80px 100px 10fr 60px;
    min-height: 100vh;
}


/* ----------- navbar ----------- */
.navbar{
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    background: #0082e6;
    color: #fff;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opt {
    margin-right: 10px; 
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.logo h1 {
    font-weight: bold;
}



/* ----------- Filtro ----------- */
.filtro{
    grid-area: filtro;
    background-color: #A4A4A4;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.filtro label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.filtro input {
    height: 20px;
    width: 400px;
    padding: 5px;
    margin: 10px;
}

.filtro button {
    height: 30px;
    width: 150px;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}



/* ----------- galeria ----------- */
.galeria {
    display: grid;
    grid-area: galeria;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.product {
    border: 1px;
    border-color: black;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    width: 300px;
    height: 200px;
}



/* ----------- footer ----------- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    grid-area: footer;
    color: #fff;
    background-color: #003e6d;
    height: 60px;
}

